@charset "UTF-8";

/*Versão Mobile First*/
* {
  font-family: "Kumbh Sans", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: linear-gradient(hsl(273, 75%, 66%) 80%, hsl(240, 73%, 65%));
  background: linear-gradient(hsl(273, 75%, 66%) 80%, hsl(240, 73%, 65%));
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
  width: 100vw;
}

.card-white {
  background-color: white;
  width: 90vw;
max-
  margin: 10em auto;
  border-radius: 1em;
  padding-bottom: 5em;
}

.card-white .imgs {
  position: relative;
  width: 50vw;
  margin: auto;
  top: -5.5em;
  z-index: 1;
}

.card-white .imgs .sombra-img-principal {
  position: relative;
  width: 50vw;
  margin: auto;
  top: -4.5em;
  z-index: -1;
}
.card-white .FAQ {
  font-size: 2.5em;
  text-align: center;
  font-weight: 600;
  margin: -3em 0em 1em;
}

.card-white button {
  border-style: none;
  text-align: left;
  background-color: transparent;
  transition: color ease-in-out 0.2s;
  justify-content: space-between;
  width: 70%;
}
.card-white button img {
  position: relative;
  right: 4em;
  float: right;
  bottom: -0.4em;
}

.card-white button:hover {
  color: orange;
}

.card-white .faq-menu .text .question {
  width: 90vw;
  margin: 1em 0em;
}

.card-white .answer {
  visibility: hidden;
  height: 0;
  transition: height 0.5s ease;
}
.card-white .faq-menu .text {
  border-bottom: 1px solid rgb(187, 186, 186);
  width: 80vw;
  margin: auto;
}

.card-white .faq-menu .text.active .question {
  font-weight: bold;
}

.card-white .faq-menu .text.active .answer {
  visibility: visible;
  height: 2.4em;
  margin: 0.5em 0em;
  width: 75vw;
  font-size: 0.7em;
  margin-bottom: 2em;
  animation: fade 1s ease-in-out;
}

.card-white .faq-menu .text.active .seta {
  transform: rotate(180deg);
}
.seta {
  transition: transform 0.5s ease-in;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
